<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="con" connectionString="Data Source=.\B1;Initial Catalog=DB_HendyTest;Integrated Security=True;"/>
		<add name ="conSetUpTest" connectionString="Data Source=.\B1;Initial Catalog=DB_Hendy;Integrated Security=True;" providerName="DB_HendyTest"/>
	</connectionStrings>
</configuration>